[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
nose = "*"

[packages]
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
beautifulsoup4 = "*"
wiktionaryparser = "*"
click = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.7"
